button{
    border-radius: 20px;
    width: 8%;
}

li{
    color: blue;
}



.plazo{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: blue;
}

.promedio{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: blue;
}

.mayor{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: blue;
}